<app-navbar></app-navbar>
<app-searchbar></app-searchbar>

<div class="container d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col-md-6">
      <div class="card my-5" style="max-width: 400px">
        <div
          class="bg-image hover-overlay ripple"
          data-mdb-ripple-color="light"
        >
          <img
            src="https://www.ktb.gov.tr/Resim/404725,bayrakjpg.png?0"
            class="img-fluid"
          />
          <a href="#!">
            <div
              class="mask"
              style="background-color: rgba(251, 251, 251, 0.15)"
            ></div>
          </a>
        </div>

        <div class="card-body">
          <h5 class="card-title">{{"Turkish Flag and National Anthem" | translate}}</h5>
          <p class="card-text">
            {{"Some quick example text to build on the card title and make up the bulk of the card's content." | translate}}
          </p>

          <a class="btn btn-outline-dark m-1" href="#!" role="button">
            <i class="bi bi-instagram"></i> {{"Go to" | translate}}
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card my-5" style="max-width: 400px">
        <div
          class="bg-image hover-overlay ripple"
          data-mdb-ripple-color="light"
        >
          <img
            src="https://www.ktb.gov.tr/Resim/404724,ataturkjpg.png?0"
            class="img-fluid"
          />
          <a href="#!">
            <div
              class="mask"
              style="background-color: rgba(251, 251, 251, 0.15)"
            ></div>
          </a>
        </div>

        <div class="card-body">
          <h5 class="card-title">{{"Traces from Ataturk's Life" | translate}}</h5>
          <p class="card-text">
{{"Some quick example text to build on the card title and make up the bulk of the card's content." | translate}}
          </p>

          <a class="btn btn-outline-dark m-1" href="#!" role="button">
            <i class="bi bi-instagram"></i> {{"Go to" | translate}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>



    <div class="content">
      <div class="item">
        <a
          href="https://www.nobelyayin.com/bilgisayar-ve-yazilim-muhendisligi-kitaplari-881/"
          style="
            text-decoration: none;
            color: inherit;
            display: flex;
            align-items: center;
          "
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="40"
            height="40"
            fill="currentColor"
            class="bi bi-volume-off"
            viewBox="0 0 16 16"
          >
            <path
              d="M10.717 3.55A.5.5 0 0 1 11 4v8a.5.5 0 0 1-.812.39L7.825 10.5H5.5A.5.5 0 0 1 5 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06M10 5.04 8.312 6.39A.5.5 0 0 1 8 6.5H6v3h2a.5.5 0 0 1 .312.11L10 10.96z"
            />
          </svg>
        </a>
        <div style="margin-left: 5px; font-weight: bold; color: black">
          Haber ve Duyurular
        </div>
      </div>
      <div class="item">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-dot"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm0 1a7 7 0 1 1 0 14A7 7 0 0 1 8 1z"
          />
        </svg>
        <a
          href="https://www.nobelyayin.com/bilgisayar-ve-yazilim-muhendisligi-kitaplari-881/"
          style="text-decoration: none; color: inherit"
        >
          {{"Access to books/magazines in the field of software and computers is provided" | translate}}
        </a>
      </div>
      <div class="item">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-dot"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm0 1a7 7 0 1 1 0 14A7 7 0 0 1 8 1z"
          />
        </svg>
        <a
          href="https://kutuphaneci.org.tr/cumhuriyetin-100-yilinda-turk-kutuphaneciligi-sempozyumu-2/"
          style="text-decoration: none; color: inherit">
          {{"Turkish Librarianship Symposium on the 100th Anniversary of the Republic" | translate}}
        </a>
      </div>
      <div class="item">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-dot"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm0 1a7 7 0 1 1 0 14A7 7 0 0 1 8 1z"
          />
        </svg>
        <a
          href="URL_BURAYA_GELIR"
          style="text-decoration: none; color: inherit"
        >
            {{ "Evaluations of TKD Branches during the 58th Library Week" | translate}}
        </a>
      </div>
      <div class="item">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-dot"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm0 1a7 7 0 1 1 0 14A7 7 0 0 1 8 1z"
          />
        </svg>
        <a
          href="URL_BURAYA_GELIR"
          style="text-decoration: none; color: inherit"
        >
          {{"Online Internship Program Pilot Project" | translate}}
        </a>
      </div>
    </div>
    <br>
