<app-navbar *ngIf="showSearchAndNav"></app-navbar>

<div class="col-md-6">
    <div class="card my-5" style="max-width: 400px;">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img src="https://i.ibb.co/zHNR9DL/Brown-and-Blue-Photo-Library-Birthday-Virtual-Background.png" class="img-fluid" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">NINOVA Kütüphanesi - Ana Kütüphane</h5>
        <p class="card-text">
          NINOVA Kütüphanesi
          <br>
          34840 Maltepe / ISTANBUL
          <br>
          Tel: 000 111 22 33
        </p>
      </div>
    </div>
  </div>