<div class="container mt-5">
    <h2>Materyal Listesi</h2>
    <a routerLink="/admin/itemadd" class="btn btn-primary mb-3">
      Yeni Materyal Ekle
    </a>
    
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>ISBN</th>
          <th>Başlık</th>
          <th>Materyal Tipi</th>
          <th>Dil</th>
          <th>İşlemler</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td>{{ item.isbn }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.type }}</td>
          <td>{{ item.language }}</td>

          <td>
            <button class="btn btn-sm btn-warning mr-2" [routerLink]="['/admin/itemupdate', item.id]">
              <i class="bi bi-pencil-fill"></i>
              Güncelle
            </button>
          
            
            <button class="btn btn-sm btn-danger" (click)="deleteItem(item.id)">
              <i class="bi bi-trash-fill"></i>
              Sil
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>