<br>
<footer id="footer" class="footer bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        
        <a class="btn btn-outline-light m-1" href="https://www.google.com" role="button">
            <i class="bi bi-google"></i> Google
        </a>
        
        <!-- Twitter -->
        <a class="btn btn-outline-light m-1" href="#!" role="button">
          <i class="bi bi-twitter"></i> Twitter
        </a>
      
        <!-- Instagram -->
        <a class="btn btn-outline-light m-1" href="#!" role="button">
          <i class="bi bi-instagram"></i> Instagram
        </a>
      </section>
      <!-- Section: Social media -->
    </div>
    <div class="text-center p-3" style="background-color: #F2542D;">
      © 2024 Copyright:
      <a class="text-white" href="http://localhost:4200/homepage">NINOVA</a>
    </div>
    <!-- Copyright -->
</footer>