/* You can add global styles to this file, and also import other style files */



.dark-theme {
    // Koyu tema için gerekli CSS stil tanımları
    background-color: #333;
    color: #fff;
  }
  
  .light-theme {
    // Açık tema için gerekli CSS stil tanımları
    background-color: #fff;
    color: #333;
  }